@import '../../../index';

.root {
}

.image {
    min-width: 100%;
    overflow: hidden;
    height: 400px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 5%;
    .nickname {
        font-size: 3rem;
    }
    .name {
        opacity: 0.8;
    }
    .about {
        margin-top: 15px;
    }
}
.carouselWrapper {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselContainer {
    max-width: 1200px;
    width: 100%;
    .carouselItem {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
