.head {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    img {
        width: 300px;
        height: 300px;
    }
}

.releaseInfo {
    .title {
        font-size: 2.5rem;
    }

    .rowInfo {
        display: flex;
        gap: 10px;
        font-size: 1rem;
        &.type {
        }
        &.artist {
        }

        &.year {
        }
    }

    .button {
        margin-top: 15px;
    }
}

.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        width: 500px;
        height: 500px;
        background-color: azure;
        border-radius: 50px;
    }
}
