.head {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    img {
        width: 300px;
        height: 300px;
    }
}

.releaseInfo {
    .title {
        font-size: 2.5rem;
    }

    .rowInfo {
        display: flex;
        gap: 10px;
        font-size: 1rem;
        &.type {
        }
        &.artist {
        }

        &.year {
        }
    }

    .button {
        margin-top: 15px;
    }
}
