@import '../../index';

.root {
    width: 100vw;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    user-select: none;
    font-family: $FONT;
    z-index: 9999;
    background-color: black;
    &.noBG {
        background-color: transparent;
    }
}

.item {
    text-decoration: none;
    box-sizing: border-box;
    color: $FONT_COLOR;
    position: relative;
    &:hover {
        color: $FIRST_COLOR;
    }
    cursor: pointer;
    transition: all 0.1s linear;
}

.activeLine {
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -7px;
    background-color: $FIRST_COLOR;
}

@media screen and (max-width: 600px) {
    .root {
        flex-direction: column;
    }
}
